html
    head
        title Engineering Details
    body
        h1 Engineering Details
        p Your script "build-deploy-sisp-war.sh" has been used #{buildShUsages} times, good job!

        p Your script "swagger-client-generator.py" has been used #{swaggerPyUsages} times, good job!

        a(href="/") Back to home