style
    include xmas-footer.css

link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas")

div(class="xmas-hills")
    div(class="xmas-wrapper")
        div(class="christmas-tree tree1")
        div(class="christmas-tree tree2")
        div(class="christmas-tree tree3")
        div(class="snowman")
        div(class="christmas-tree tree4")
        div(class="christmas-tree tree5")
        div(class="christmas-tree tree6")